<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title></title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <div id="loginDiv">
        Login
        <form action="/" id="userLogin">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="pass" placeholder="password">
            <input type="submit" value="Login">
        </form>
        <div id="loginResult"></div>
    </div>
    <div id="userDiv" style="display:none">
        <div id="welcome"></div>
        <br />
        <div id="newLock" style="display:none">
            Create lock
            <form id='createLock'>
                <input type='text' name='lockName' placeholder='Name of the door'>
                <input type='text' name='allowedUsers' placeholder='List of users. E.g. 23,65,8'>
                <input type='submit' value='Create'>
            </form>
        </div>
        <br />
        <div id="locksDiv">
            <table id="locks">
            </table>
        </div>
    </div>
    <div id="userEvents">
        <a href="#events">Show user events</a>
        <br />
        <br />
        <table id="events" style="display:none"></table>
    </div>
    <script>
        $("#userLogin").submit(function (event) {
            // Stop form from submitting normally
            event.preventDefault();

            // Get the email/pass from the form
            var $form = $(this);
            $email = $form.find("input[name='email']").val();
            $pass = $form.find("input[name='pass']").val();

            // Send the data using get
            var getUser = $.get("http://localhost:63446/user", { email: $email, password: $pass });

            // Put the results in a div
            getUser.done(function (loggedUser) {
                if (loggedUser.id > 0) {
                    $("#loginDiv").hide("slow");
                    $("#userDiv").show("slow", function () {}, ShowUserDiv(loggedUser));
                }
                else {
                    $("#loginResult").empty().append(loggedUser.message);
                }
            });
        });

        function ShowUserDiv(user) {
            $("#welcome").empty().append("Welcome back " + user.name);

            if (user.isAdmin) {
                $("#newLock").show();
            }

            GetLocks();

            // submit lock state change
            $("#lockButton").submit(function (event) {
                // Stop form from submitting normally
                event.preventDefault();
                alert("hello");

                // Get the email/pass from the form
                //var $form = $(this);
                //$lockId = $form.attr("id")
                //alert($lockId);

            });

            // create a new lock
            $("#createLock").submit(function (event) {
                // Stop form from submitting normally
                event.preventDefault();

                $form = $(this);
                $lockName = $form.find("input[name='lockName']").val();
                $allowedUsers = $form.find("input[name='allowedUsers']").val();

                // Send the data using put
                var createLock = $.ajax({
                    url: "http://localhost:63446/lock?userId=" +
                        user.id + "&lockName=" + $lockName + "&allowedUsers=" + $allowedUsers,
                    type: "PUT"
                }).done(function (lock) {
                    GetLocks();
                    alert(lock.message);
                }).fail(function (data) {
                    alert(data.message);
                });
            });

            $('a[href="#events"]').click(function () {
                var getEvents = $.get("http://localhost:63446/events", { userId: user.id });
                getEvents.done(function (data) {
                    var eventsTable = $('#events');
                    eventsTable.empty().html("<tr><th>LockId</th><th>State</th><th>Timestamp</th></tr>");
                    eventsTable.show("slow");
                    $.each(data.eventList, function (idx, event) {
                        eventsTable.append(
                            "<tr><td>" + event.lockId + "</td>" +
                            "<td>" + event.state + "</td>" +
                            "<td>" + event.timestamp + "</td></tr>");
                    });
                });
            });

            function GetLocks() {
                // get locks information
                var getLocks = $.get("http://localhost:63446/locks", { userId: user.id });
                getLocks.done(function (locksData) {
                    var locksTable = $('#locks');
                    locksTable.empty().html("<tr><th>Door</th><th>State</th><th>Action</th></tr>");
                    $.each(locksData.locksList, function (idx, lock) {
                        var lockAction = "Unlock";
                        if ("Unlocked" == lock.state) {
                            lockAction = "Lock";
                        }

                        locksTable.append(
                            "<tr><td>" + lock.name + "</td>" +
                            "<td>" + lock.state + "</td>" +
                            "<td><form id='lockButton'><input type='submit' value='" + lockAction + "'></form></td></tr>");
                    });
                });
            }
        }
    </script>
</body>

</html>